<template>
  <div class="home">
    <Chrono />
  </div>
</template>

<script>
// @ is an alias to /src
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Chrono from "@/components/Chrono";

@Component({
  components: { Chrono }
})
export default class Home extends Vue {}
</script>
