<template>
  <div>
    <p>
      {{ elapsedHours }}:<v-progress-circular
        :rotate="-90"
        :size="100"
        :width="20"
        :value="elapsedMinutesPercent"
        >{{ elapsedMinutes.toString().padStart(2, "0") }}</v-progress-circular
      >:<v-progress-circular
        :rotate="-90"
        :size="100"
        :width="20"
        :value="elapsedSecondsPercent"
        >{{ elapsedSeconds.toString().padStart(2, "0") }}</v-progress-circular
      >:{{ elapsedMilliseconds.toString().padStart(3, "0") }}
    </p>
    <v-btn @click="start" v-if="elapsed === 0">Start</v-btn>
    <v-btn @click="pause" v-if="chronoInterval > 0 && elapsed > 0">pause</v-btn>
    <v-btn @click="resume" v-if="!chronoInterval && elapsed > 0">resume</v-btn>
    <v-btn @click="stop" v-if="elapsed > 0">stop</v-btn>
    <v-btn @click="lap">Lap</v-btn>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Durée</th>
            <th class="text-left">Delta</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(lap, key) in laps" :key="key">
            <td>{{ elapsedString(lap) }}</td>
            <td>{{ elapsedString(delta(lap)) }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import moment from "moment";
import _ from "lodash";

@Component
export default class Chrono extends Vue {
  lastResume: Date | null = null;

  elapsedSecondsPercent = 0;
  elapsedMinutesPercent = 0;

  elapsed = 0; // The number of milliseconds since the start of the chrono
  get elapsedHours() {
    return moment
      .duration(this.elapsed)
      .hours()
      .toString();
  }
  get elapsedMinutes() {
    return moment
      .duration(this.elapsed)
      .minutes()
      .toString()
      .padStart(2, "0");
  }
  get elapsedSeconds() {
    return moment
      .duration(this.elapsed)
      .seconds()
      .toString()
      .padStart(2, "0");
  }
  get elapsedMilliseconds() {
    return moment
      .duration(this.elapsed)
      .milliseconds()
      .toString()
      .padStart(3, "0");
  }

  chronoInterval = 0;

  laps: number[] = [];

  delta(lap: number) {
    if (isNaN(lap)) lap = 0;
    const key = this.laps.indexOf(lap);
    if (key <= this.laps.length) {
      const prev = this.laps[key + 1];
      return lap - prev;
    }
    return 0;
  }

  elapsedString(elapsed: number) {
    if (isNaN(elapsed)) elapsed = 0;
    const duration = moment.duration(elapsed);
    return `${duration.hours()}:${duration
      .minutes()
      .toString()
      .padStart(2, "0")}:${duration
      .seconds()
      .toString()
      .padStart(2, "0")}.${duration
      .milliseconds()
      .toString()
      .padStart(3, "0")}`;
  }

  timerHandler() {
    if (!this.lastResume) this.lastResume = new Date();
    const duration = moment
      .duration(moment().diff(moment(this.lastResume)))
      .add(this.elapsed, "millisecond");
    this.elapsedSecondsPercent = (duration.seconds() / 60) * 100;
    this.elapsedMinutesPercent = (duration.minutes() / 60) * 100;

    this.elapsed = duration.asMilliseconds();
    this.lastResume = new Date();
  }

  start() {
    this.lastResume = new Date();
    this.elapsed = 0;
    this.resume();
  }

  pause() {
    clearInterval(this.chronoInterval);
    this.timerHandler();
    this.lastResume = null;
    this.chronoInterval = 0;
  }

  resume() {
    this.chronoInterval = setInterval(this.timerHandler.bind(this), 5);
  }

  lap() {
    this.laps = _.uniq([this.elapsed, ...this.laps]);
  }
  stop() {
    this.pause();
    this.lastResume = null;
    this.elapsed = 0;
    this.laps = [];
    this.elapsedSecondsPercent = 0;
    this.elapsedMinutesPercent = 0;
  }
}
</script>
<style lang="scss" scoped>
::v-deep p {
  font-size: 40px;
}
</style>
