<template>
  <span @click="reload">
    <v-btn text>
      <span class="mr-2">{{ appVersion }}</span>
      <v-icon>mdi-information</v-icon>
    </v-btn>
    <v-snackbar v-model="snackWithButtons" :timeout="timeout" top left>
      {{ snackWithBtnText }}
      <v-spacer />
      <v-btn dark text color="secondary" @click.stop="refreshApp">
        {{ snackBtnText }}
      </v-btn>
      <v-btn dark icon @click="snackWithButtons = false">
        <v-icon>mdi-close-box</v-icon>
      </v-btn>
    </v-snackbar>
  </span>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { version } from "@/./../package.json";

@Component
export default class PwaUpdater extends Vue {
  appVersion = version;
  refreshing = false;

  /* eslint-disable-next-line @typescript-eslint/no-explicit-any */
  registration: any = null;
  snackBtnText = "";
  snackWithBtnText = "";
  snackWithButtons = false;
  timeout = 0;

  created() {
    // Listen for swUpdated event and display refresh snackbar as required.
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    // Refresh all open app tabs when a new service worker is installed.
    navigator.serviceWorker.addEventListener("controllerchange", () => {
      if (this.refreshing) return;
      this.refreshing = true;
      window.location.reload();
    });
  }

  async reload() {
    try {
      const registration = await navigator.serviceWorker.getRegistration();
      if (registration) registration.update();
    } catch {
      document.location.reload();
    }
  }

  /* eslint-disable-next-line @typescript-eslint/no-explicit-any */
  showRefreshUI(e: any) {
    // Display a snackbar inviting the user to refresh/reload the app due
    // to an app update being available.
    // The new service worker is installed, but not yet active.
    // Store the ServiceWorkerRegistration instance for later use.
    this.registration = e.detail;
    this.snackBtnText = "Refresh";
    this.snackWithBtnText = "New version is available!";
    this.snackWithButtons = true;
  }

  refreshApp() {
    this.snackWithButtons = false;
    // Protect against missing registration.waiting.
    if (!this.registration || !this.registration.waiting) {
      return;
    }
    this.registration.waiting.postMessage("skipWaiting");
  }
}
</script>
