<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title><v-icon>mdi-timer</v-icon> Chrono</v-toolbar-title>

      <v-spacer></v-spacer>

      <PwaUpdater />

      <template v-slot:extension>
        <v-tabs align-with-title>
          <v-tab to="/">Chrono</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
// global document
// global navigator
import Vue from "vue";
import { Component } from "vue-property-decorator";
import PwaUpdater from "@/components/PwaUpdater.vue";

@Component({
  components: { PwaUpdater }
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
